* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    background-image: linear-gradient(to right, rgb(53, 53, 53), rgb(12, 12, 12));
    color: white;
}

header .logo {
    margin-left: 2.5rem;
}

.navigation a {
    text-decoration: none;
    padding: 2.5rem;
    color: white;
}

.img img {
    display: block;
    height: 100%;
    width: 100%;
    /* filter: brightness(80%) */
    opacity: 0.9;
}

.img h1 {
    position: absolute;
    font-size: 2.6rem;
    color: rgb(51, 51, 58);
    top: 11rem;
    left: 10rem;
}

.about {
    margin-top: 5rem;
    background-image: radial-gradient(rgba(244, 246, 247, 0), rgb(116, 111, 111));
    /* padding-top: 10rem; */
    height: 30rem;
    top: -1rem;
}

.about::before {
    content: '';
    position: absolute;
    top: 62rem;
    margin-left: 20rem;
    background-color: rgb(51, 51, 58);
    width: 60%;
    height: 7px;
    border-radius: 4px;
    box-shadow: 0 0rem 4rem rgba(0,0,0, 1);
}

.about h2 {
    text-align: center;
    position: relative;
    top: 32%;
    font-size: 2rem;
    padding: 0.9rem;
    border: 2px solid black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1rem 1rem rgba(73, 42, 42, 0.9);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.about h2:hover {
    background-color: rgba(121, 127, 129, 0);
    transform: scale(1.05);
}

.skills {
    background-image: linear-gradient(to right bottom, rgb(216, 173, 88), rgb(85, 69, 37));
    height: 30rem;
    margin-top: -4rem;
    padding-top: 3rem;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    padding: 2rem;
    margin: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.skills h2 {
    text-align: center;
    margin-top: 4rem;
}


.tips {
    display: flex;
    padding: 10rem;
    flex-direction: column;
    background-color: rgba(255, 228, 196, 0.699);
}

.tips .self-care {
    padding: 2rem;
    height: 10rem;
    line-height: 2.3rem;
}

.tips h2 {
    margin-left: 2rem;
}

.tips img {
    width: 30%;
    align-self: flex-end;
    box-shadow: 0 1rem 7rem rgba(0,0,0,1);
    transition: 0.4s ease-in-out;
}

.tips img:hover {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
}

.serious {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 3rem;
    margin-bottom: 7rem;
    background-image: radial-gradient(rgb(197, 147, 147), rgb(95, 53, 53));
    padding-bottom: 15rem;
    padding-top: 12rem;
    border: 1px solid black;
}

.serious .content {
    /* display: inherit; */
    /* padding: 2rem; */
    /* border: 2px solid saddlebrown; */
    margin-top: 3rem;
    box-shadow: 0 2rem 6rem rgba(0,0,0, .5);
    padding: 2rem;
}


.serious h2 {
    align-self: flex-start;
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-left: 20rem;
}

.serious .content .item1,
.serious .content .item2,
.serious .content .item3,
.serious .content .item4, 
.serious .content .item5 {
    /* margin: 2rem; */
    /* display: inline-block; */
    /* border: 1px solid black; */
    padding-left: 2rem;
    border-radius: 15px;
    transition: 300ms ease-in-out;
}

.serious .content .item1 {
    width: 50%;
    background-color: rgb(221, 170, 75);
}

.serious .content .item4 {
    width: 60%;
    background-color: rgb(18, 100, 100);
}

.serious .content .item2 {
    width: 80%;
    background-color: rgb(179, 35, 35);
}

.serious .content .item3 {
    width: 55%;
    background-color: papayawhip;
}

.serious .content .item5 {
    width: 60%;
    background-color: rgba(238, 157, 26, 0.527);
}

.serious .content .item1:hover,
.serious .content .item2:hover,
.serious .content .item3:hover,
.serious .content .item4:hover, 
.serious .content .item5:hover {
    /* margin: 2rem; */
    /* display: inline-block; */
    /* border: 1px solid black; */
    padding-left: 2rem;
    border-radius: 15px;
    transform: translateX(10%)
}

.hobbies {
    display: flex;
    height: 50rem;
    width: auto;
    background-image: linear-gradient(to right bottom, rgb(164, 216, 236), rgb(24, 95, 95));
    margin-top: -7rem;
}

.hobbies h2 {
    margin-top: 7rem;
    position: absolute;
    margin-left: 46.5%;
    font-size: 2rem;
}

.hobbies .pics {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;
    /* margin-top: 5rem; */
    /* padding-top: 15rem; */
}

.hobbies .pics {
    margin-top: 16rem;
}

.hobbies .pics img {
    border: 2px outset black;
    border-width: 0 2px 2px 0px;
    outline: 1px solid black;
}

.hobbies .pics img:nth-of-type(2) {
    /* height: 80%; */
    align-self: stretch;
    width: 20%;
    height: 50%;
    transition: 200ms ease-in-out;
    opacity: 0.8;
}

.hobbies .pics img:nth-of-type(1) {
    width: 20%;
    height: 50%;
    align-self: stretch;
    transform: translateX(70%) translateY(80%);
    transition: 200ms ease-in-out;
    opacity: 0.8;
}

.hobbies .pics img:nth-of-type(3) {
    width: 20%;
    height: 50%;
    transform: translateX(-40%) translateY(60%);
    transition: 200ms ease-in-out;
    opacity: 0.8;
}

.hobbies .pics img:nth-of-type(1):hover {
    transform: translateX(60%) translateY(60%);
    opacity: 1;
    z-index: 3;
}

.hobbies .pics img:nth-of-type(2):hover {
    transform: translateX(-10%) translateY(-10%);
    opacity: 1;
    z-index: 3;
}

.hobbies .pics img:nth-of-type(3):hover {
    transform: translateX(-50%) translateY(50%);
    opacity: 1;
    z-index: 3;
}




/* 
position: relative ;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%) */